body {
    min-width: 300px;
    min-height: 80px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.btn-row1{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

button {
    background-color: #4CAF50;
    /* set button background color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    /* add border radius */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    /* add box shadow */
}

button:hover {
    background-color: #45A44F;
}

button:disabled {
    opacity: 0.5; /* 降低透明度以表示禁用狀態 */
    cursor: not-allowed; /* 將滑鼠游標設為不允許的樣式 */
    /* 可以添加其他樣式來自訂禁用狀態下的外觀 */
  }
